<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jadeStones.Dao.TestMapper" >
  <resultMap id="BaseResultMap" type="cn.jadeStones.Entity.Test" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESC" property="desc" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List">
    `ID`, `NAME`, `DESC`
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	SELECT 
	<include refid="Base_Column_List" />
	FROM TEST
  	where ID = #{id}
  </select>
</mapper>