<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jadeStones.Dao.TestMapper" >
  <resultMap id="BaseResultMap" type="cn.jadeStones.Entity.Test" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESC" property="desc" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List">
    `ID`, `NAME`, `DESC`,`PASSWORD`
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	SELECT 
	<include refid="Base_Column_List" />
	FROM TEST
  	where ID = #{id}
  </select>
  
   <select id="selectBySelective" parameterType="cn.jadeStones.Entity.Test" resultMap="BaseResultMap">
	SELECT 
	<include refid="Base_Column_List" />
	FROM TEST
  	where 1=1
 	<if test="name != null" >
       AND name = #{name,jdbcType=VARCHAR}
    </if>
  	<if test="password != null" >
       AND password = #{password,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>