<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="userFilter" class="cn.jadeStones.base.shiro.LoginFilter"></bean>

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"/>
		<property name="loginUrl" value="/login.json"/>
		<property name="successUrl" value="/asd/index.html"/>
		<property name="unauthorizedUrl" value="/unauthorized.html"/>
		<property name="filters">
			<map>
				<entry key="user" value-ref="userFilter" />
			</map>
		</property>
	 	<property name="filterChainDefinitions">
			 <value>
		        <!-- 静态资源允许访问 -->  
                /asserts/** = anon  
                /login.html = anon
                /chatHome.html = anon
                / = anon
                <!-- 登录页允许访问 -->  
                /login = anon  
                <!-- 其他资源需要认证 -->  
                /** = authc  
                /index.html =authc
		 	</value>
		 </property>
	</bean>
	<!-- 配置 Shiro 的 SecurityManager Bean. -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
	  	<property name="cacheManager" ref="shiroCacheManager"/>
        <property name="sessionManager" ref="shiroSessionManager"/>
        <property name="realms">
        	<list>
        		<ref bean="myRealm"/>
        	</list>
        </property>
	</bean>
	<!-- 配置 Bean 后置处理器: 会自动的调用和 Spring 整合后各个组件的生命周期方法. -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

	<!-- 数据库保存的密码是使用MD5算法加密的，所以这里需要配置一个密码匹配对象 -->
<!--     <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.Md5CredentialsMatcher"></bean> -->
    
    <!-- 缓存管理 -->
<!--     <bean id="shiroCacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"></bean> -->

	<!-- 使用Shiro自带的JdbcRealm类 指定密码匹配所需要用到的加密对象 指定存储用户、角色、权限许可的数据源及相关查询语句 -->
<!--     <bean id="jdbcRealm" class="org.apache.shiro.realm.jdbc.JdbcRealm"> -->
<!--         <property name="credentialsMatcher" ref="credentialsMatcher"></property> -->
<!--         <property name="permissionsLookupEnabled" value="true"></property> -->
<!--         <property name="dataSource" ref="dataSource"></property> -->
		<!-- 登陆 -->
<!--         <property name="authenticationQuery" -->
<!--             value="SELECT password FROM sec_user WHERE user_name = ?"></property> -->
		<!-- 角色 -->
<!--         <property name="userRolesQuery" -->
<!--             value="SELECT role_name from sec_user_role left join sec_role using(role_id) left join sec_user using(user_id) WHERE user_name = ?"></property> -->
		<!-- 权限 -->
<!--         <property name="permissionsQuery" -->
<!--             value="SELECT permission_name FROM sec_role_permission left join sec_role using(role_id) left join sec_permission using(permission_id) WHERE role_name = ?"></property> -->
<!--     </bean> -->
	

	<bean id="shiroRedisManager" class="org.crazycake.shiro.RedisManager">
	    <property name="host" value="${redis.host}"/>
	    <property name="port" value="${redis.port}"/>
	    <property name="password" value="${redis.password}"/>
	    <property name="expire" value="${redis.expiration}"/>
		<!--
		<property name="database" value="${redis.database:7}"/> 
	    <property name="timeout" value="10000"/>
	    -->
	</bean>
	<!-- shiroCacheManager -->
	<bean id="shiroCacheManager" class="org.crazycake.shiro.RedisCacheManager">
	    <property name="redisManager" ref="shiroRedisManager" />
	</bean>
	<!-- redisSessionDAO -->
	<bean id="shiroRedisSessionDAO" class="org.crazycake.shiro.RedisSessionDAO">
	    <property name="redisManager" ref="shiroRedisManager" />
	</bean>
	<!-- sessionManager -->
	<bean id="shiroSessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<property name="globalSessionTimeout" value="86400000"></property>
	    <property name="sessionDAO" ref="shiroRedisSessionDAO" />
	</bean>

</beans>
